<template>
  <div class="h-100 d-flex align-center justify-space-between">
    <!-- 👉 Footer: right content -->
    <span class="d-md-flex gap-x-4 text-primary d-none">
      <a href="/" target="noopener noreferrer">Sport stadium app</a>
    </span>
  </div>
</template>
