<template>
  <div class="d-flex flex-column align-center">
    <!-- 👉 Image -->
    <VImg
      v-if="image"
      :width="250"
      aspect-ratio="16/9"
      class="mb-4"
      cover
      :src="typeof image === 'object' ? imageUrl : image"
    ></VImg>
    <!-- 👉 Upload Photo -->
    <form class="d-flex flex-column justify-center gap-4">
      <div class="d-flex flex-wrap mx-auto gap-2">
        <VBtn color="primary" @click="refInputEl?.click()">
          <VIcon icon="tabler-cloud-upload" class="d-sm-none" />
          <span class="d-none d-sm-block">Upload new image</span>
        </VBtn>

        <input
          ref="refInputEl"
          type="file"
          name="file"
          accept=".jpeg,.png,.jpg,GIF"
          hidden
          @input="changeAvatar"
        />

        <VBtn
          type="reset"
          color="secondary"
          variant="tonal"
          @click="image = null"
        >
          <span class="d-none d-sm-block">Reset</span>
          <VIcon icon="tabler-refresh" class="d-sm-none" />
        </VBtn>
      </div>

      <p class="text-body-1 mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
    </form>
  </div>
</template>

<script setup>
import { watchEffect } from "vue";

const props = defineProps({
  image: {
    type: [Object, String],
    default: null,
  },
  rules: {
    type: Array,
    default: () => [],
  },
});
watchEffect(() => {
  console.log(props.image);
});
const imageUrl = ref("");
const emit = defineEmits(["update:image"]);
const refInputEl = ref();
const changeAvatar = (file) => {
  const fileReader = new FileReader();
  const { files } = file.target;
  if (files && files.length) {
    fileReader.readAsDataURL(files[0]);
    fileReader.onload = () => {
      if (typeof fileReader.result === "string") {
        emit("update:image", files[0]);
        imageUrl.value = fileReader.result;
      }
    };
  }
};
</script>