<template>
    <VCard>
        <VCardTitle class="mt-2"> User Form </VCardTitle>
        <v-divider></v-divider>
        <VCardText>
            <VForm ref="refForm" @submit.prevent>
                <VRow>
                    <!-- Name -->
                    <VCol cols="12" md="6">
                        <AppTextField :rules="[requiredValidator]" v-model="userItem.name" prepend-inner-icon="tabler-user"
                            label="Name" placeholder="Name" />
                    </VCol>

                    <!-- Email -->
                    <VCol cols="12" md="6">
                        <AppTextField :rules="[requiredValidator, emailValidator]" v-model="userItem.email"
                            prepend-inner-icon="tabler-mail" label="Email" placeholder="Email" />
                    </VCol>
                    <!-- Password -->
                    <VCol cols="12" md="6">
                        <AppTextField :rules="[requiredValidator]" v-model="userItem.password"
                            prepend-inner-icon="tabler-lock" label="Password" type="password" placeholder="Password" />
                    </VCol>
                    <!-- Phone -->
                    <VCol cols="12" md="6">
                        <AppTextField :rules="[
                            requiredValidator,
                            betweenValidator(userItem.phone?.length, 13, 15),
                            regexValidator(userItem.phone, '^00963+[0-9]+$'),
                        ]" v-model="userItem.phone" prepend-inner-icon="tabler-device-mobile" label="Phone"
                            placeholder="Number" />
                    </VCol>
                    <!-- Gender -->
                    <VCol cols="12" md="6">
                        <AppSelect :rules="[requiredValidator]" v-model="userItem.gender"
                            prepend-inner-icon="mdi-gender-male-female-variant" :items="[
                                { label: 'Male', value: '1' },
                                { label: 'Female', value: '2' },
                            ]" item-title="label" item-value="value" clearable label="Gender" />
                    </VCol>
                    <!-- Birthday -->
                    <VCol cols="12" md="6">
                        <AppDateTimePicker :config="{
                            dateFormat: 'Y-m-d',
                            maxDate: `${currentYear}-${currentMonth}-${currentDay}`,
                        }" :rules="[requiredValidator]" v-model="userItem.birthDay" prepend-inner-icon="mdi-cake"
                            label="Birthday" />
                    </VCol>
                    <!-- Image -->
                    <VCol cols="12">
                        <VFileInput :rules="[requiredValidator]" accept="image/png, image/jpeg, image/jpg,image/gif"
                            v-model="image" prepend-inner-icon="mdi-paperclip" prepend-icon="" color="primary"
                            label="Image" />
                    </VCol>

                    <VCol cols="12" class="d-flex justify-end gap-4">
                        <VBtn :loading="submitLoading" type="submit" @click="AddUser()">
                            Submit
                        </VBtn>

                        <VBtn color="secondary" @click="$emit('close')"> Close </VBtn>
                    </VCol>
                </VRow>
            </VForm>
        </VCardText>
    </VCard>
</template>
<script setup>
import {
    emailValidator,
    requiredValidator,
    betweenValidator,
    regexValidator,
} from "@validators";
const now = new Date();
const submitLoading = inject("submitLoading");
const currentDay = now.toLocaleString("default", { day: "2-digit" });
const currentMonth = now.toLocaleString("default", { month: "2-digit" });
const currentYear = now.getFullYear();
const refForm = ref();
const userItem = ref({
    id: -1,
    name: null,
    password: "",
    phone: "",
    gender: null,
    email: "",
    birthDay: null,
    image: undefined,
});
const image = ref();
const props = defineProps({
    user: {
        type: Object,
        default: () => { },
    },
});
const emit = defineEmits(["save", "close"]);
async function AddUser() {
    let valid = await refForm.value.validate();
    if (valid.valid) {
        userItem.value.image = image.value[0];
        emit("save", { ...userItem.value, browsing_mode: "browser" });
    }
}
onMounted(() => {
    if (props.user) {
        userItem.value = props.user;
    }
});
</script>
