<script setup>
import BaseTable from "@/components/base/BaseTable.vue";
import { packageStore } from "@/stores/PackageStore";
import StadiumPackagesForm from "./StadiumPackagesForm.vue";
const headers = [
  {
    title: "ENGLISH NAME",
    key: "name_en",
    sortable: false,
    align: "center",
  },
  {
    title: "PRICE",
    key: "price",
    sortable: false,
    align: "center",
  },
  {
    title: "SLOT",
    key: "slot",
    sortable: false,
    align: "center",
  },
  {
    title: "TYPE",
    key: "type",
    sortable: false,
    align: "center",
  },
  {
    title: "ACTIONS",
    key: "actions",
    sortable: false,
    align: "center",
  },
];
const props = defineProps({
  stadium: {
    type: Object,
    default: () => {},
  },
});
const emit = defineEmits(["refreshStadium"]);
</script>

<template>
  <VRow class="match-height">
    <!-- 👉 Active Project -->
    <VCol cols="12" md="12">
      <BaseTable
        @refreshItems="emit('refreshStadium')"
        :headers="headers"
        :items="stadium.packages"
        :store="packageStore()"
        module-name="Packages"
      >
        <template #form="{ item, save, close, loading }">
          <StadiumPackagesForm
            :package="item"
            :submitLoading="loading"
            @save="save({ stadium_id: stadium.id, ...$event })"
            @close="close()"
          >
            <DialogCloseBtn @click="close()" />
          </StadiumPackagesForm>
        </template>
      </BaseTable>
    </VCol>
  </VRow>
</template>

