<template>
  <VCard>
    <VCardTitle class="mt-2"> Packages Form </VCardTitle>
    <v-divider></v-divider>
    <VCardText>
      <VForm ref="refForm" @submit.prevent>
        <VRow>
          <!-- English Name -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="packageItem.name_en"
              prepend-inner-icon="tabler-user"
              label="English Name"
              placeholder="English Name"
            />
          </VCol>
          <!-- Arabic Name -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="packageItem.name_ar"
              dir="rtl"
              prepend-inner-icon="tabler-user"
              label="Arabic Name"
              placeholder="الاسم"
            />
          </VCol>
          <!-- Phone -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator, integerValidator]"
              v-model="packageItem.price"
              label="Price"
              type="number"
              placeholder="Price"
            />
          </VCol>
          <!-- Slot -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator, integerValidator]"
              v-model="packageItem.slot"
              label="Slot"
              type="number"
              placeholder="Slot"
            />
          </VCol>
          <!-- Type -->
          <VCol cols="12" md="6">
            <AppSelect
              :rules="[requiredValidator]"
              v-model="packageItem.type"
              :items="[
                { label: 'Time Slot', value: 'time_slot' },
                { label: 'Subscription', value: 'subscription' },
              ]"
              item-title="label"
              item-value="value"
              clearable
              label="Type"
            />
          </VCol>
          <VCol cols="12" class="d-flex justify-end gap-4">
            <VBtn :loading="submitLoading" type="submit" @click="AddPackage()">
              Submit
            </VBtn>

            <VBtn
              color="secondary"
              @click="
                refForm?.reset();
                $emit('close');
              "
            >
              Close
            </VBtn>
          </VCol>
        </VRow>
      </VForm>
    </VCardText>
  </VCard>
</template>
<script setup>
import {
  emailValidator,
  requiredValidator,
  integerValidator,
  lengthValidator,
  regexValidator,
} from "@validators";
const now = new Date();
const currentDay = now.toLocaleString("default", { day: "2-digit" });
const currentMonth = now.toLocaleString("default", { month: "2-digit" });
const currentYear = now.getFullYear();
const refForm = ref();
const packageItem = ref({
  id: -1,
  name_en: "",
  name_ar: "",
  price: null,
  slot: null,
  type: "subscription",
});
const props = defineProps({
  package: {
    type: Object,
    default: () => {},
  },
  submitLoading: {
    type: Boolean,
    default: false,
  },
});
const submitLoading = inject("submitLoading");
const emit = defineEmits(["save", "close"]);
async function AddPackage() {
  let valid = await refForm.value.validate();
  if (valid.valid) emit("save", packageItem.value);
}
function formValidation() {
  console.log(refForm);
  if (refForm?.validate() == true) AddPackage();
}
watch(
  props.package,
  () => {
    console.log(props.package);
    packageItem.value = props.package;
  },
  {
    immediate: true,
  }
);
onMounted(() => {});
</script>
