<template>
  <div>
    <VExpansionPanels multiple>
      <VExpansionPanel v-for="(day, i) in weekDays" :key="i" :value="i">
        <VExpansionPanelTitle>
          <VRow class="items-center">
            <VCol class="align-self-center text-capitalize" cols="11" lg="11">
              <h3>{{ day }}</h3>
            </VCol>
            <VCol cols="1" lg="1">
              <IconBtn @click.stop="openDialog(-1, day)">
                <VIcon icon="mdi-plus" />
              </IconBtn>
            </VCol>
          </VRow>
        </VExpansionPanelTitle>
        <VExpansionPanelText>
          <h3 v-if="!groupByDay[day]">There are no work times in this day</h3>
          <div class="d-flex">
            <v-chip
              v-for="(time, i) in groupByDay[day]"
              :key="i"
              class="mr-4"
              closable
              size="x-large"
              variant="outlined"
              @click:close="deleteWorkTime(time.id)"
            >
              <v-icon start icon="mdi-clock"></v-icon>

              From {{ time.start_time }} to {{ time.end_time }}
            </v-chip>
          </div>
        </VExpansionPanelText>
      </VExpansionPanel>
    </VExpansionPanels>
    <VDialog
      v-model="isDialogVisible"
      width="500"
      persistent
      no-click-animation
    >
      <!-- Dialog close btn -->
      <DialogCloseBtn @click="closeDialog()" />
      <StadiumWorkTimeForm
        :submitLoading="loading"
        :time="time"
        @save="addTime($event)"
        @close="closeDialog()"
      >
      </StadiumWorkTimeForm>
    </VDialog>
  </div>
</template>
  
<script setup>
import { stadiumWorkTimeStore } from "@/stores/StadiumWorkTimeStore";
import StadiumWorkTimeForm from "@/components/stadiums/work-times/StadiumWorkTimeFrom.vue";

const props = defineProps({
  stadium: {
    type: Object,
    default: () => {},
  },
});

let day = ref("");
let dayTimes = ref([]);
let time = ref({});
let workTimes = ref();
const loading = ref(false);
const store = stadiumWorkTimeStore();
const route = useRoute();
const isDialogVisible = ref(false);
const emit = defineEmits(["refreshStadium"]);

const weekDays = ref([
  "saturday",
  "sunday",
  "monday",
  "tuesday",
  "wednesday",
  "thursday",
  "friday",
]);
const groupByDay = computed(() => {
  const items = {};
  const workTimes = props.stadium.workTimes;

  workTimes.forEach((workTime) => {
    const day = workTime.day;

    if (!items[day]) {
      items[day] = [];
    }

    items[day].push({
      id: workTime.id,
      start_time: workTime.start_time,
      end_time: workTime.end_time,
    });
  });

  return items;
});
const addWorkTime = async (item) => {
  return await store.create(item);
};
const editWorkTime = async (item) => {
  return await store.update(item);
};
const deleteWorkTime = async (id) => {
  await store.delete(id);
  emit("refreshStadium");
};
function openDialog(dayTime, workDay) {
  isDialogVisible.value = true;
  day.value = workDay;
  if (dayTime != -1) {
    time.value = {
      id: dayTime.id,
      start_time: dayTime.start_time,
      end_time: dayTime.end_time,
    };
  }
}
function closeDialog() {
  isDialogVisible.value = false;
}
async function addTime(time) {
  loading.value = true;
  const workTime = {
    day: day.value,
    stadium_id: route.params.id,
    ...time,
  };
  if (!time.id) await addWorkTime(workTime);
  else
    await editWorkTime({
      id: time.id,
      ...workTime,
    });
  emit("refreshStadium");
  isDialogVisible.value = false;
  loading.value = false;
}
watch(props, () => {
  if (props.stadiums) {
    workTimes.value = props.stadium.workTimes;
  }
});
</script>
  
<style></style>