<template>
  <VCard>
    <VCardTitle class="mt-2"> Stadium Work Time Form </VCardTitle>
    <v-divider></v-divider>
    <VCardText>
      <VForm ref="refForm" @submit.prevent="() => {}">
        <VRow>
          <!-- Start Time -->
          <VCol cols="12" md="6">
            <AppDateTimePicker
              label="Start Time"
              :rules="[requiredValidator]"
              v-model="workTime.start_time"
              :config="{
                enableTime: true,
                noCalendar: true,
                dateFormat: 'H:i',
              }"
            />
          </VCol>
          <!-- End Time -->
          <VCol cols="12" md="6">
            <AppDateTimePicker
              label="End Time"
              :rules="[requiredValidator]"
              v-model="workTime.end_time"
              :config="{
                enableTime: true,
                noCalendar: true,
                dateFormat: 'H:i',
              }"
            />
          </VCol>
          <VCol cols="12" class="d-flex justify-end gap-4">
            <VBtn
              type="submit"
              :loading="submitLoading"
              @click="AddStadiumWorkTime()"
            >
              Save
            </VBtn>

            <VBtn
              color="secondary"
              @click="
                refForm?.reset();
                $emit('close');
              "
            >
              Close
            </VBtn>
          </VCol>
        </VRow>
      </VForm>
    </VCardText>
  </VCard>
</template>
<script setup>
import { requiredValidator } from "@validators";

const props = defineProps({
  time: {
    type: Object,
  },
  submitLoading: {
    type: Boolean,
    default: false,
  },
});
const emit = defineEmits(["save", "close"]);
const workTime = ref({
  start_time: "",
  end_time: "",
});
const refForm = ref(null);
const AddStadiumWorkTime = async () => {
  let valid = await refForm.value.validate();
  if (valid.valid) {
    emit("save", {
      id: workTime.value.id,
      start_time: workTime.value.start_time,
      end_time: workTime.value.end_time,
    });
  }
};
onMounted(() => {
  if (props.time.id != undefined) {
    workTime.value = props.time;
  }
});
</script>
