<script setup>
import BaseTable from "@/components/base/BaseTable.vue";
import { activityStore } from "@/stores/ActivityStore";
const headers = [
  {
    title: "ENGLISH NAME",
    key: "name_en",
    sortable: false,
    align: "center",
  },
  {
    title: "ACTIONS",
    key: "actions",
    sortable: false,
    align: "center",
  },
];
</script>

<template>
  <VRow class="match-height">
    <!-- 👉 Active Project -->
    <VCol cols="12" md="12">
      <BaseTable
        :headers="headers"
        :store="activityStore()"
        module-name="Activities"
      >
        <template #form="{ item, save, close, loading }">
          <ActivityForm
            :submitLoading="loading"
            :activity="item"
            @save="save($event)"
            @close="close()"
          />
        </template>
      </BaseTable>
    </VCol>
  </VRow>
</template>
