<script setup>
import page401 from "@images/views/401.png";
import miscMaskDark from "@images/views/misc-mask-dark.png";
import miscMaskLight from "@images/views/misc-mask-light.png";
import { useGenerateImageVariant } from "@core/composable/useGenerateImageVariant";

const authThemeMask = useGenerateImageVariant(miscMaskLight, miscMaskDark);
</script>

<template>
  <div class="misc-wrapper">
    <div class="misc-center-content text-center mb-12">
      <!-- 👉 Title and subtitle -->
      <h4 class="text-h4 font-weight-medium mb-3">
        You are not authorized! 🔐
      </h4>
      <p>You don't have permission to access this page. Go Home!</p>
      <VBtn to="/"> Back to Home </VBtn>
    </div>

    <!-- 👉 Image -->
    <div class="misc-avatar w-100 text-center">
      <VImg :src="page401" alt="Coming Soon" :max-width="170" class="mx-auto" />
    </div>

    <VImg :src="authThemeMask" class="misc-footer-img d-none d-md-block" />
  </div>
</template>

<style lang="scss">
@use "@core/scss/template/views/misc.scss";
</style>

<route lang="yaml">
meta:
  layout: blank
  action: read
  subject: Auth
</route>
