<script setup>
import { VDataTable } from "vuetify/labs/VDataTable";
import ConfirmDelete from "../../@core/components/ConfirmDelete.vue";
import { onMounted } from "vue";
import router from "@/router";
const props = defineProps({
  moduleName: {
    type: String,
    default: "Module",
  },
  editPage: {
    type: String,
    default: null,
  },
  items: {
    type: Array,
    default: null,
  },
  store: {
    type: Object,
    default: () => {}, // pinia store for the module
  },
  headers: {
    type: Array,
    default: () => [],
  },
});
const editDialog = ref(false);
const deleteDialog = ref(false);
const deleteLoading = ref(false);
const defaultItem = ref({});
const loading = ref(false);
const submitLoading = ref(false);
const editedItem = ref(defaultItem.value);
const editedIndex = ref(-1);
const dataList = ref([]);
let paginationData = ref({
  page: 1,
  totalItems: 1,
  pages: 1,
});
provide("submitLoading", submitLoading);
const emit = defineEmits(["refreshItems"]);
const fetchData = async (page = 1) => {
  if (!props.items) {
    loading.value = true;
    paginationData.value.page = page;
    const { content, ...meta } = await props.store.fetchData(
      paginationData.value.page
    );
    dataList.value = content;
    if (meta.pages) {
      paginationData.value = meta;
    }
    loading.value = false;
  } else emit("refreshItems");
};

const editItem = (item) => {
  console.log({ ...item });
  if (props.editPage) {
    router.push(`/${props.editPage}/${item.id}`);
    return;
  }
  editedIndex.value = dataList.value.indexOf(item);
  editedItem.value = { ...item };
  editDialog.value = true;
};

const deleteItem = (item) => {
  editedIndex.value = dataList.value.indexOf(item);
  editedItem.value = { ...item };
  deleteDialog.value = true;
};

const closeForm = () => {
  editDialog.value = false;
  editedIndex.value = -1;
  editedItem.value = { ...defaultItem.value };
};

const closeDelete = () => {
  deleteDialog.value = false;
  editedIndex.value = -1;
  editedItem.value = { ...defaultItem.value };
};

const save = async (updatedItem) => {
  submitLoading.value = true;
  editedIndex.value === -1
    ? await props.store.create(updatedItem)
    : await props.store.update(updatedItem);
  submitLoading.value = false;
  editedItem.value = defaultItem;
  fetchData();
  closeForm();
};

const deleteItemConfirm = async () => {
  deleteLoading.value = true;
  await props.store.delete(editedItem.value.id);
  deleteLoading.value = false;
  fetchData();
  closeDelete();
};
watch(props, () => {
  if (props.items) {
    dataList.value = props.items;
  }
});
onMounted(async () => {
  if (!props.items) await fetchData();
  else dataList.value = props.items;
});
</script>

<template>
  <!-- Add button -->
  <div class="d-flex justify-space-between mb-3">
    <h2>
      {{ moduleName }}
    </h2>
    <VBtn @click="editDialog = true">
      Add New
      <VIcon end icon="tabler-plus" />
    </VBtn>
  </div>
  <!-- 👉 Datatable  -->
  <VDataTable
    :loading="loading"
    :headers="headers"
    :items="dataList"
    :items-per-page="10"
  >
    <!-- Slot template name -->
    <template v-for="header in headers" #[`item.${header.value}`]="{ item }">
      <slot
        v-if="item && header.value"
        :name="[`item.${header.value}`]"
        :item="item.value"
      >
        {{ item.value[header.value] }}
      </slot>
    </template>
    <template v-slot:bottom>
      <div class="text-center pt-2">
        <v-pagination
          class="pb-4"
          v-model="paginationData.page"
          :length="paginationData.pages"
          total-visible="5"
          @update:modelValue="fetchData"
        ></v-pagination>
      </div>
    </template>
    <!-- Actions -->
    <template #item.actions="{ item }">
      <div class="d-flex justify-center gap-1">
        <IconBtn color="info" @click="editItem(item.raw)">
          <VIcon icon="mdi-pencil-outline" />
        </IconBtn>
        <IconBtn color="error" @click="deleteItem(item.raw)">
          <VIcon icon="mdi-delete-outline" />
        </IconBtn>
      </div>
    </template>
  </VDataTable>

  <!-- 👉 Edit Dialog  -->
  <VDialog
    persistent
    no-click-animation
    :retain-focus="false"
    v-model="editDialog"
    max-width="700px"
  >
    <DialogCloseBtn @click="closeForm()" />
    <slot
      name="form"
      :item="editedItem"
      :save="save"
      :close="closeForm"
      :loading="submitLoading"
    >
    </slot>
  </VDialog>

  <!-- 👉 Delete Dialog  -->
  <VDialog v-model="deleteDialog" max-width="500px">
    <DialogCloseBtn @click="closeDelete()" />
    <ConfirmDelete
      :delete-loading="deleteLoading"
      @deleteItemConfirm="deleteItemConfirm"
      @closeDelete="closeDelete"
    />
  </VDialog>
</template>
