<template>
  <VCard>
    <VCardTitle class="mt-2"> Activity Form </VCardTitle>
    <v-divider></v-divider>
    <VCardText>
      <VForm ref="refForm" @submit.prevent>
        <VRow>
          <!-- Image -->
          <VCol cols="12">
            <AppImageUploader
              :rules="[requiredValidator]"
              :image="activityItem.image"
              @update:image="activityItem.image = $event"
            />
          </VCol>
          <!--Englsih Name -->
          <VCol cols="12">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="activityItem.name_en"
              prepend-inner-icon="tabler-user"
              label="Englsih Name"
              placeholder="Englsih Name"
            />
          </VCol>
          <!--Arabic Name -->
          <VCol cols="12">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="activityItem.name_ar"
              prepend-inner-icon="tabler-user"
              label="Arabic Name"
              placeholder="Arabic Name"
            />
          </VCol>

          <VCol cols="12" class="d-flex justify-end gap-4">
            <VBtn :loading="submitLoading" type="submit" @click="AddActivity()">
              Submit
            </VBtn>

            <VBtn
              color="secondary"
              @click="
                refForm?.reset();
                $emit('close');
              "
            >
              Close
            </VBtn>
          </VCol>
        </VRow>
      </VForm>
    </VCardText>
  </VCard>
</template>
<script setup>
import { requiredValidator } from "@validators";
import { ref } from "vue";

const refForm = ref();
const defaultItem = ref({
  id: -1,
  name_en: null,
  name_ar: null,
  image: undefined,
});
const activityItem = ref({});
const props = defineProps({
  activity: {
    type: Object,
    default: () => {},
  },
});
const submitLoading = inject("submitLoading");
const emit = defineEmits(["save", "close"]);
async function AddActivity() {
  let valid = await refForm.value.validate();
  if (valid.valid) {
    let Activity = { ...activityItem.value };
    if (typeof Activity.image === "string") delete Activity.image;
    emit("save", Activity);
  }
}
watch(
  props.activity,
  () => {
    activityItem.value = props.activity;
  },
  {
    immediate: true,
  }
);
</script>
