<script setup>
import { useRoute } from "vue-router";
import StadiumBasicInformation from "@/components/stadiums/StadiumBasicInformation.vue";
import StadiumPackages from "@/components/stadiums/packages/index.vue";
import StadiumWorkTimes from "@/components/stadiums/work-times/index.vue";
import StadiumHolidays from "@/components/stadiums/holiday/index.vue";
import { stadiumStore } from "@/stores/StadiumStore";
const route = useRoute();
const activeTab = ref(route.params.tab);
const stadium = ref({});
const store = stadiumStore();
const loading = ref(false);
const submitLoading = ref(false);
provide("submitLoading", submitLoading);

const fetchStadium = async () => {
  loading.value = true;
  stadium.value = await store.get(route.params.id);
  loading.value = false;
};
const saveStadium = async (savedStadium) => {
  submitLoading.value = true;
  await store.save(savedStadium);
  submitLoading.value = false;
};

onMounted(async () => {
  fetchStadium();
});

// tabs
const tabs = [
  {
    title: "Basic Information",
    icon: "tabler-users",
    tab: StadiumBasicInformation,
  },
  {
    title: "Packages",
    icon: "tabler-users",
    tab: StadiumPackages,
  },
  {
    title: "Work Times",
    icon: "tabler-clock",
    tab: StadiumWorkTimes,
  },
  {
    title: "Holidays",
    icon: "tabler-clock",
    tab: StadiumHolidays,
  },
];
</script>

<template>
  <div>
    <VTabs v-model="activeTab" class="v-tabs-pill">
      <VTab v-for="item in tabs" :key="item.icon" :value="item.tab">
        <VIcon size="20" start :icon="item.icon" />
        {{ item.title }}
      </VTab>
    </VTabs>
    <VWindow
      v-model="activeTab"
      class="mt-6 disable-tab-transition"
      :touch="false"
    >
      <v-progress-linear
        v-if="loading"
        indeterminate
        height="2"
      ></v-progress-linear>
      <!-- Stadium Basic Information -->
      <VWindowItem v-for="(tab, index) in tabs" :key="index" :value="tab.tab">
        <component
          @refreshStadium="fetchStadium"
          :is="tab.tab"
          :stadium="stadium"
          :submit-loading="submitLoading"
          @save="saveStadium"
        />
      </VWindowItem>
    </VWindow>
  </div>
</template>

<style></style>
