<script setup>
import BaseTable from "@/components/base/BaseTable.vue";
import { stadiumStore } from "@/stores/StadiumStore";
const headers = [
  {
    title: "NAME",
    key: "name",
    sortable: false,
    align: "center",
  },
  {
    title: "EMAIL",
    key: "email",
    sortable: false,
    align: "center",
  },
  {
    title: "PHONE",
    key: "phone",
    sortable: false,
    align: "center",
  },
  {
    title: "ACTIONS",
    key: "actions",
    sortable: false,
    align: "center",
  },
];
</script>

<template>
  <VRow class="match-height">
    <!-- 👉 Active Project -->
    <VCol cols="12" md="12">
      <BaseTable
        :headers="headers"
        :store="stadiumStore()"
        module-name="Stadiums"
        edit-page="stadiums"
      >
        <template #form="{ item, save, close }">
          <StadiumForm :stadium="item" @save="save($event)" @close="close()" />
        </template>
      </BaseTable>
    </VCol>
  </VRow>
</template>
