<script setup>
import { useTheme } from "vuetify";
import ScrollToTop from "@core/components/ScrollToTop.vue";
import { useThemeConfig } from "@core/composable/useThemeConfig";
import { hexToRgb } from "@layouts/utils";
import { notifyStore } from "@/stores/NotifyStore";
const store = notifyStore();
const {
  syncInitialLoaderTheme,
  syncVuetifyThemeWithTheme: syncConfigThemeWithVuetifyTheme,
  isAppRtl,
  handleSkinChanges,
} = useThemeConfig();

const { global } = useTheme();

// ℹ️ Sync current theme with initial loader theme
syncInitialLoaderTheme();
syncConfigThemeWithVuetifyTheme();
handleSkinChanges();
const notify = computed(() => {
  console.log(store.$state.notify);
  // store.showSuccess("test");
  return store.$state.notify;
  // return store.state.notify;
});
</script>

<template>
  <VLocaleProvider :rtl="isAppRtl">
    <!-- ℹ️ This is required to set the background color of active nav link based on currently active global theme's primary -->
    <VApp
      :style="`--v-global-theme-primary: ${hexToRgb(
        global.current.value.colors.primary
      )}`"
    >
      <RouterView />
      <ScrollToTop />
      <VSnackbar
        v-model="notify.show"
        :timeout="notify.timeout"
        :color="notify.color"
      >
        <p class="mb-0 font-weight-medium">{{ notify.message }}</p>
        <template #action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="notify.show = false">
            Close
          </v-btn>
        </template>
      </VSnackbar>
    </VApp>
  </VLocaleProvider>
</template>

<style lang="scss">
.v-snackbar__wrapper {
  bottom: auto !important;
  left: auto !important;
  transform: translateX(0) !important;
  top: 10px;
  right: 10px;
}
</style>