<template>
  <VCard>
    <VCardTitle class="mt-2"> {{ formTitle }} </VCardTitle>
    <v-divider></v-divider>
    <VCardText>
      <VForm ref="refForm" @submit.prevent>
        <VRow>
          <VCol cols="12" class="mx-auto">
            <AppImageUploader
              :image="stadiumItem.image"
              @update:image="stadiumItem.image = $event"
            />
          </VCol>
          <!-- English Name -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="stadiumItem.name_en"
              label="English Name"
              placeholder="English Name"
            />
          </VCol>
          <!-- Arabic Name -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="stadiumItem.name_ar"
              dir="rtl"
              label="Arabic Name"
              placeholder="الاسم"
            />
          </VCol>
          <!-- English Decsription -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="stadiumItem.description_en"
              label="English Decsription"
              placeholder="English Decsription"
            />
          </VCol>
          <!-- Arabic Decsription -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="stadiumItem.description_ar"
              label="Arabic Decsription"
              dir="rtl"
              placeholder="الوصف"
            />
          </VCol>
          <!-- Email -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator, emailValidator]"
              v-model="stadiumItem.email"
              prepend-inner-icon="tabler-mail"
              label="Email"
              placeholder="Email"
            />
          </VCol>
          <!-- Website -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator, urlValidator]"
              v-model="stadiumItem.website"
              label="Website"
              placeholder="Website"
            />
          </VCol>
          <!-- Map Url -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator, urlValidator]"
              v-model="stadiumItem.map_url"
              label="Map Url"
              placeholder="Map Url"
            />
          </VCol>
          <!-- Phone -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[
                requiredValidator,
                minLengthValidator(stadiumItem.phone, 10),
              ]"
              v-model="stadiumItem.phone"
              prepend-inner-icon="tabler-device-mobile"
              label="Phone"
              placeholder="Number"
            />
          </VCol>

          <!-- Address -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="stadiumItem.address_ar"
              prepend-inner-icon="tabler-home"
              label="Address"
              placeholder="Address"
            />
          </VCol>
          <!-- Address -->
          <VCol cols="12" md="6">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="stadiumItem.address_en"
              prepend-inner-icon="tabler-home"
              dir="rtl"
              label="Arabic Address"
              placeholder="العنوان"
            />
          </VCol>
          <!-- Region -->
          <VCol cols="12" md="6">
            <AppSelect
              :rules="[requiredValidator]"
              v-model="stadiumItem.region_id"
              :items="regions"
              item-title="name_en"
              item-value="id"
              clearable
              label="Region"
            />
          </VCol>
          <!-- Activity -->
          <VCol cols="12" md="6">
            <AppSelect
              :rules="[requiredValidator]"
              v-model="stadiumItem.activity_id"
              :items="activities"
              item-title="name_en"
              item-value="id"
              clearable
              label="Activity"
            />
          </VCol>

          <VCol cols="12" class="d-flex justify-end gap-4">
            <VBtn :loading="submitLoading" type="submit" @click="AddStadium()">
              Save
            </VBtn>

            <VBtn
              color="secondary"
              @click="
                refForm?.reset();
                $emit('close');
              "
            >
              Close
            </VBtn>
          </VCol>
        </VRow>
      </VForm>
    </VCardText>
  </VCard>
</template>
<script setup>
import {
  emailValidator,
  requiredValidator,
  minLengthValidator,
  urlValidator,
} from "@validators";
import { regionStore } from "@/stores/RegionStore";
import { activityStore } from "@/stores/ActivityStore";
import AppImageUploader from "@/@core/components/app-form-elements/AppImageUploader.vue";
import { computed, inject } from "vue";
import { useRoute } from "vue-router";
import { watch } from "vue";

const props = defineProps({
  stadium: {
    type: Object,
    default: () => {},
  },
});
const emit = defineEmits(["save", "close"]);
const route = useRoute();
let regions = ref();
let activities = ref();
const refForm = ref();
const stadiumItem = ref({
  id: -1,
  name_en: null,
  name_ar: null,
  region_id: null,
  activity_id: null,
  map_url: "",
  email: "",
  description_en: "",
  description_ar: "",
  address_en: "",
  address_ar: "",
  phone: null,
  website: "",
  image: null,
});
const formTitle = computed(() => {
  return route.params?.id ? "Edit Stadium" : "Add New Stadium";
});
const submitLoading = inject("submitLoading");

const AddStadium = async () => {
  const validate = await refForm.value.validate();
  if (validate.valid) {
    const payload = { ...stadiumItem.value };
    if (typeof payload.image === "string") delete payload.image;
    emit("save", payload);
  }
};
const fetchRegions = async () => {
  const { content } = await regionStore().fetchData();
  regions.value = content;
};
const fetchActivities = async () => {
  const { content } = await activityStore().fetchData();
  activities.value = content;
};
watch(
  props,
  () => {
    if (props.stadium?.id) {
      stadiumItem.value = props.stadium;
    }
  },
  { immediate: true }
);
onMounted(() => {
  fetchActivities();
  fetchRegions();
});
</script>
