<template>
  <div>
    <StadiumForm
      :stadium="stadium"
      @save="emit('save', $event)"
      :submit-loading="submitLoading"
    ></StadiumForm>
  </div>
</template>

<script setup>
const emit = defineEmits(["save"]);
const props = defineProps({
  stadium: {
    type: Object,
    default: () => {},
  },
  submitLoading: {
    type: Boolean,
    default: false,
  },
});
</script>

<style>
</style>