<script setup>
import BaseTable from "@/components/base/BaseTable.vue";
import { stadiumHolidayStore } from "@/stores/StadiumHolidayStore";
import StadiumHolidayForm from "./StadiumHolidayForm.vue";
const headers = [
  {
    title: "ENGLISH NAME",
    key: "name_en",
    sortable: false,
    align: "center",
  },
  {
    title: "ARABIC NAME",
    key: "name_ar",
    sortable: false,
    align: "center",
  },
  {
    title: "DATE",
    key: "date",
    sortable: false,
    align: "center",
  },
  {
    title: "ACTIONS",
    key: "actions",
    sortable: false,
    align: "center",
  },
];
const props = defineProps({
  stadium: {
    type: Object,
    default: () => {},
  },
});
const emit = defineEmits(["refreshStadium"]);
</script>

<template>
  <VRow class="match-height">
    <!-- 👉 Active Project -->
    <VCol cols="12" md="12">
      <BaseTable
        @refreshItems="emit('refreshStadium')"
        :headers="headers"
        :items="stadium.holidays"
        :store="stadiumHolidayStore()"
        module-name="Holidays"
      >
        <template #form="{ item, save, close, loading }">
          <StadiumHolidayForm
            :holiday="item"
            :submitLoading="loading"
            @save="save({ stadium_id: props.stadium.id, ...$event })"
            @close="close()"
          >
            <DialogCloseBtn @click="close()" />
          </StadiumHolidayForm>
        </template>
      </BaseTable>
    </VCol>
  </VRow>
</template>

