<template>
  <VCard>
    <VCardTitle class="mt-2"> Stadium holiday Form </VCardTitle>
    <v-divider></v-divider>
    <VCardText>
      <VForm ref="refForm" @submit.prevent>
        <VRow>
          <!-- English Name -->
          <VCol cols="12">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="holidayInfo.name_en"
              prepend-inner-icon="tabler-user"
              label="English Name"
              placeholder="English Name"
            />
          </VCol>
          <!-- Arabic Name -->
          <VCol cols="12">
            <AppTextField
              :rules="[requiredValidator]"
              v-model="holidayInfo.name_ar"
              prepend-inner-icon="tabler-user"
              label="Arabic Name"
              placeholder="Arabic Name"
            />
          </VCol>
          <!-- Date -->
          <VCol cols="12">
            <AppDateTimePicker
              :rules="[requiredValidator]"
              v-model="holidayInfo.date"
              label="Date & TIme"
              :config="{ dateFormat: 'Y-m-d' }"
            />
          </VCol>
          <VCol cols="12" class="d-flex justify-end gap-4">
            <VBtn
              type="submit"
              :loading="submitLoading"
              @click="AddStadiumHoliday()"
            >
              Save
            </VBtn>

            <VBtn
              color="secondary"
              @click="
                refForm?.reset();
                $emit('close');
              "
            >
              Close
            </VBtn>
          </VCol>
        </VRow>
      </VForm>
    </VCardText>
  </VCard>
</template>
<script setup>
import { requiredValidator } from "@validators";

const props = defineProps({
  holiday: {
    type: Object,
    default: () => {},
  },
  submitLoading: {
    type: Boolean,
    default: false,
  },
});
const emit = defineEmits(["save", "close"]);
const holidayInfo = ref({
  id: -1,
  name_en: null,
  name_ar: null,
  date: undefined,
});
const refForm = ref();
async function AddStadiumHoliday() {
  let valid = await refForm.value.validate();
  if (valid.valid) {
    emit("save", {
      id: holidayInfo.value.id,
      name_en: holidayInfo.value.name_en,
      name_ar: holidayInfo.value.name_ar,
      date: holidayInfo.value.date,
    });
  }
}
watch(
  props,
  () => {
    if (props.holiday.id) {
      holidayInfo.value = props.holiday;
    }
  },
  { immediate: true }
);
</script>
  