<template>
  <VCard class="pa-4">
    <VCardTitle> Are you sure you want to delete this item? </VCardTitle>

    <VCardActions class="pt-4">
      <VSpacer />

      <VBtn variant="outlined" @click="$emit('closeDelete')"> Cancel </VBtn>

      <VBtn
        color="error"
        variant="elevated"
        :loading="deleteLoading"
        @click="$emit('deleteItemConfirm')"
      >
        OK
      </VBtn>

      <VSpacer />
    </VCardActions>
  </VCard>
</template>

<script setup>
const emits = defineEmits(["closeDelete", "deleteItemConfirm"]);
const props = defineProps({
  deleteLoading: {
    type: Boolean,
    default: false,
  },
});
</script>

<style>
</style>