<script setup>
import BaseTable from "@/components/base/BaseTable.vue";
import { userStore } from "@/stores/UserStore";
const headers = [
  {
    title: "NAME",
    key: "full_name",
  },
  {
    title: "EMAIL",
    key: "email",
  },
  {
    title: "DATE",
    key: "start_date",
  },
  {
    title: "SALARY",
    key: "salary",
  },
  {
    title: "AGE",
    key: "age",
  },
  {
    title: "STATUS",
    key: "status",
  },
  {
    title: "ACTIONS",
    key: "actions",
  },
];
</script>

<template>
  <VRow class="match-height">
    <!-- 👉 Active Project -->
    <VCol cols="12" md="12">
      <BaseTable :headers="headers" :store="userStore()" module-name="Users">
        <template #form="{ item, save, close }">
          <UserForm
            :user="item"
            :item="item"
            @save="save($event)"
            @close="close()"
          />
        </template>
      </BaseTable>
    </VCol>
  </VRow>
</template>
